{% if layout is not defined %}
    {% set layout = '@WHBackendTemplate/BackendTemplate/Layout/layout.html.twig' %}
{% endif %}

{% extends layout %}

{% block title %}<h2>{{ title }}</h2>{% endblock %}

{% block breadcrumb %}
    {% include '@WHBackendTemplate/BackendTemplate/Element/breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}

    {% import '@WHBackendTemplate/Twig/macros.html.twig' as macros %}

    {% if formPanelProperties.form is defined %}

        {% form_theme formPanelProperties.form '@WHBackendTemplate/Twig/bootstrap_3_layout.html.twig' %}

        {{ form_start(formPanelProperties.form) }}
        {{ macros.panel(formPanelProperties) }}
        {{ form_end(formPanelProperties.form) }}

    {% endif %}

    {% if tree is defined %}

        <div class="row">

            <div class="col-md-6">

                <div class="wh-tree ibox">

                    <div class="ibox-content">

                        <div class="dd">

                            {% set menuTemplate = '@WHBackendTemplate/Twig/tree.html.twig' %}
                            {% set menuOptions = {'entityPathConfig' : entityPathConfig, 'urlData' : urlData} %}
                            {% if treeRootLabel is defined %}
                                {% set menuOptions = menuOptions | merge ({'rootLabel': treeRootLabel}) %}
                            {% endif %}
                            {% set menu = knp_menu_get('WHSuperAdminBundle:Tree:tree', [], menuOptions) %}
                            {{ knp_menu_render(menu, {allow_safe_labels : true, template: menuTemplate}) | raw }}

                        </div>

                    </div>

                </div>

            </div>

            <div class="col-md-6">
                {{ macros.panel(tablePanelProperties) }}
            </div>

        </div>

    {% else %}

        {{ macros.panel(tablePanelProperties) }}
        {% include 'WHLibBundle:Element:pagination.html.twig' with {'pagination' : pagination} %}

    {% endif %}

{% endblock %}

{% block javascript %}

    {% if tree is defined %}

        <script type="text/javascript">

            $('.wh-tree ol').each(function () {

                var list = $(this);

                list.sortable({
                    placeholder: 'highlight',
                    axis: 'y',
                    stop: function () {
                        $.ajax({
                            type: 'POST',
                            url: '{{ orderUrl }}',
                            data: list.sortable('serialize', {attribute: 'data-id', key: 'ids[]', expression: /(.+)/}),
                            cache: false,
                            complete: function (data) {
                                var data = window.JSON.parse(data.responseText)
                                handleJsonResponse(data);
                            }
                        });
                    }
                });

                $(this).disableSelection();
            });

        </script>

    {% elseif orderUrl is defined %}

        <script type="text/javascript">

            $('.wh-sortable tbody').each(function () {

                var list = $(this);

                list.sortable({
                    placeholder: 'highlight',
                    axis: 'y',
                    stop: function () {
                        $.ajax({
                            type: 'POST',
                            url: '{{ orderUrl }}',
                            data: list.sortable('serialize', {attribute: 'data-id', key: 'ids[]', expression: /(.+)/}),
                            cache: false,
                            complete: function (data) {
                                var data = window.JSON.parse(data.responseText)
                                handleJsonResponse(data);
                            }
                        });
                    }
                });

                $(this).disableSelection();
            });

        </script>

    {% endif %}

{% endblock %}
