{% extends '@WHBackendTemplate/BackendTemplate/Layout/layout.html.twig' %}

{% block body %}

    <div id="wh-list-buttons">

        <h2>Liste de boutons</h2>

        <legend>Démonstration</legend>

        {% set listButtons = [
        {
        'buttonType' : 'button',
        'label' : 'Small danger button',
        'size': 'xs',
        'color': 'danger',
        },
        {
        'buttonType' : 'button',
        'label' : 'Success button',
        'color': 'success',
        },
        {
        'buttonType' : 'link',
        'label' : 'Large link',
        'size': 'lg',
        'color': 'warning',
        'href': '#wh-list-buttons'
        }
        ] %}
        {{ macros.listButtons(listButtons) }}

        <legend>Utilisation</legend>

        <pre>{% spaceless %}
        {{ "{{ macros.listButtons(listButtons) }}" }}
        {% endspaceless %}</pre>

        <p>listButtons doit être un <code>tableau</code> composé d'éléments répondant aux propriétés suivantes</p>

        <legend>Propriétés</legend>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Valeurs possibles</th>
                <th>Valeur par défaut</th>
                <th>Obligatoire ?</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th><code>buttonType</code></th>
                <td><code>link</code>, <code>button</code></td>
                <td>-</td>
                <td>Oui</td>
            </tr>
            <tr>
                <th><code>class</code></th>
                <td>-</td>
                <td>-</td>
                <td>Non</td>
            </tr>
            <tr>
                <th><code>color</code></th>
                <td><code>primary</code>, <code>success</code>, <code>danger</code>, <code>error</code></td>
                <td>-</td>
                <td>Non</td>
            </tr>
            <tr>
                <th><code>href</code></th>
                <td>-</td>
                <td>-</td>
                <td>Non</td>
            </tr>
            <tr>
                <th><code>label</code></th>
                <td>-</td>
                <td>-</td>
                <td>Oui</td>
            </tr>
            <tr>
                <th><code>size</code></th>
                <td><code>xs</code>, <code>lg</code></td>
                <td>-</td>
                <td>Non</td>
            </tr>
            <tr>
                <th><code>type</code></th>
                <td>-</td>
                <td><code>submit</code></td>
                <td>Non</td>
            </tr>
            </tbody>
        </table>

    </div>

    <div id="wh-box">

        <h2>Box</h2>

        <legend>Démonstration</legend>

        {% set headingListButtons = [
        {
        'buttonType' : 'link',
        'href': '#',
        'label' : 'Lien',
        'color': 'success',
        },
        ] %}

        {% set footerListButtons = [
        {
        'buttonType' : 'button',
        'label' : 'Bouton',
        },
        ] %}

        {% set properties = {
        'headingListButtons' : macros.listButtons(headingListButtons),
        'color' : 'success',
        'headingLabel': 'Titre',
        'content' : 'Contenu',
        'footerContent' : macros.listButtons(footerListButtons),
        } %}

        {{ macros.panel(properties) }}

        <legend>Utilisation</legend>

        <pre>{% spaceless %}
        {{ "{{ macros.openPanel(properties) }}
{{ macros.closePanel() }}" }}
        {% endspaceless %}</pre>

        <legend>Propriétés</legend>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Valeurs possibles</th>
                <th>Valeur par défaut</th>
                <th>Obligatoire ?</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><code>color</code></td>
                <td><code>default</code>, <code>primary</code>, <code>success</code>, <code>danger</code>, <code>error</code></td>
                <td>default</td>
                <td>Non</td>
            </tr>
            <tr>
                <td><code>content</code></td>
                <td>-</td>
                <td>-</td>
                <td>Oui</td>
            </tr>
            <tr>
                <td><code>footerContent</code></td>
                <td>-</td>
                <td>-</td>
                <td>Non</td>
            </tr>
            <tr>
                <td><code>headingLabel</code></td>
                <td>-</td>
                <td>-</td>
                <td>Oui</td>
            </tr>
            <tr>
                <td><code>headingListButtons</code></td>
                <td>-</td>
                <td>-</td>
                <td>Non</td>
            </tr>
            </tbody>
        </table>

    </div>

{% endblock %}