{# Base elements #}

{% macro listButtons(buttons) %}{% spaceless %}
    <ul class="wh-list-buttons">
        {% for button in buttons %}

            {% set button = button | merge({'class' : 'btn'}) %}
            {% if button.class is defined %}
                {% set button = button | merge({'class' : button.class}) %}
            {% else %}
                {% set button = button | merge({'class' : ''}) %}
            {% endif %}
            {% if button.size is defined %}
                {% set button = button | merge({'class' : button.class ~ ' btn-' ~ button.size}) %}
            {% endif %}
            {% if button.color is defined %}
                {% set button = button | merge({'class' : button.class ~ ' btn-' ~ button.color}) %}
            {% else %}
                {% set button = button | merge({'class' : button.class ~ ' btn-primary'}) %}
            {% endif %}
            {% if button.type is not defined %}
                {% set button = button | merge({'type' : 'submit'}) %}
            {% endif %}
            {% if button.icon is defined %}
                {% set label = '<i class="fa fa-' ~ button.icon ~ '"></i>' %}
                {% if button.label is defined %}
                    {% set label = label ~ ' ' ~ button.label %}
                {% endif %}
                {% set button = button | merge({'label' : label}) %}
            {% endif %}

            <li>
                {% if button.buttonType == 'link' %}

                    <a
                            {% if button.href is defined %}
                                {% if button.modal is defined or button.confirm is defined %}
                                    data-href="{{ button.href }}"
                                {% else %}
                                    href="{{ button.href }}"
                                {% endif %}
                            {% endif %}
                            class="{{ button.class }}"
                            {% if button.modal is defined %}data-modal="modalAjax"{% endif %}
                            {% if button.target is defined %}target="{{ button.target }}"{% endif %}
                            {% if button.confirm is defined %}onclick="return confirm('{{ button.confirm }}')"{% endif %}
                    >{{ button.label | raw }}</a>

                {% elseif button.buttonType == 'button' %}

                    <button type="{{ button.type }}" class="{{ button.class }}">{{ button.label | raw }}</button>

                {% endif %}
            </li>

        {% endfor %}
    </ul>
{% endspaceless %}{% endmacro %}

{% macro listFormButtons(buttons, form) %}{% spaceless %}
    <ul class="wh-list-buttons">
        {% for button in buttons %}

            {% set button = button | merge({'class' : 'btn'}) %}
            {% if button.class is defined %}
                {% set button = button | merge({'class' : button.class}) %}
            {% else %}
                {% set button = button | merge({'class' : ''}) %}
            {% endif %}
            {% if button.size is defined %}
                {% set button = button | merge({'class' : button.class ~ ' btn-' ~ button.size}) %}
            {% endif %}
            {% if button.color is defined %}
                {% set button = button | merge({'class' : button.class ~ ' btn-' ~ button.color}) %}
            {% else %}
                {% set button = button | merge({'class' : button.class ~ ' btn-primary'}) %}
            {% endif %}
            {% if button.icon is defined %}
                {% set label = '<i class="fa fa-' ~ button.icon ~ '"></i>' %}
                {% if button.label is defined %}
                    {% set label = label ~ ' ' ~ button.label %}
                {% endif %}
                {% set button = button | merge({'label' : label}) %}
            {% endif %}

            <li>
                {{ form_widget(attribute(form, button.field), {'label' : button.label, 'attr' : {'class' : button.class, 'data-submit-name' : button.field}}) }}
            </li>

        {% endfor %}
    </ul>
{% endspaceless %}{% endmacro %}

{% macro formFields(form, formFields) %}{% spaceless %}

    {% set col = 0 %}

    {% for formField, properties  in formFields %}

        {% if properties['field'] is defined %}
            {% set formField = properties['field'] %}
        {% endif %}

        {% if properties.col is not defined %}
            {% set properties = properties | merge({'col' : 12}) %}
        {% endif %}

        {% set col = col + properties.col %}

        {% if loop.first or col > 12 %}

            {% if not loop.first %}
                </div>
                {% set col = properties.col %}
            {% endif %}

            <div class="row">

        {% endif %}

        <div class="{{ 'col-md-' ~ properties.col }}">

            {% if properties.type is defined and properties.type == 'wh_file' %}


                {% set attribute = attribute(form, formField) %}
                {% if attribute.vars.label != 'false' and attribute.vars.label != '' %}
                    {{ form_label(attribute) }}
                {% endif %}

                {% set attribute = attribute(attribute(form, formField), 'id') %}
                {% set data = attribute(form.vars.data, formField) %}
                {% if data is not empty %}


                    <div class="form-group">
                        <div class="{{ 'control-label ' ~  attribute.vars.id }}">
                            {% if data.isImage %}
                                <a href="{{ wh_media_baseurl ~ attribute(data, 'url') }}" target="_blank">
                                    <img src="{{ wh_media_baseurl ~ attribute(data, 'url') }}"
                                         class="img-responsive">
                                </a>
                            {% else %}
                                <a href="{{ wh_media_baseurl ~ attribute(data, 'url') }}"
                                   class="btn btn-primary btn-xs"
                                   target="_blank"
                                >
                                    <i class="fa fa-eye"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                {{ form_row(attribute) }}
                {{ form_row(attribute(attribute(form, formField), 'url')) }}

                {{ form_row(attribute(attribute(form, formField), 'alt')) }}


            {% elseif properties.type is defined and properties.type == 'link' %}

                <a
                        href="{{ properties.href }}"
                        class="btn {% if properties.color is defined %}{{ 'btn-'~properties.color }}{% endif %} {% if properties.size is defined %}{{ 'btn-'~properties.size }}{% endif %}"
                >
                    {{ properties.name }}
                </a>

            {% else %}

                {% set formFieldFields = formField | split('.') %}
                {% set formFieldValue = '' %}

                {% for formFieldField in formFieldFields %}

                    {% if loop.first %}
                        {% set formFieldValue = attribute(form, formFieldField) %}
                    {% else %}
                        {% set formFieldValue = attribute(formFieldValue, formFieldField) %}
                    {% endif %}

                {% endfor %}

                {{ form_row(formFieldValue) }}

            {% endif %}
        </div>

        {% if loop.last %}
            </div>
        {% endif %}

    {% endfor %}

{% endspaceless %}{% endmacro %}

{% macro formZone(form, formZone) %}{% spaceless %}
    {% import _self as macros %}

    {% if formZone.title is defined %}
        <legend>
            {% if formZone.listButtons is defined %}
                <div class="pull-right">
                    {{ macros.listButtons(formZone.listButtons) }}
                </div>
            {% endif %}
            {{ formZone.title }}
        </legend>
    {% endif %}

    {% if formZone.fields is defined %}
        {{ macros.formFields(form, formZone.fields) }}
    {% endif %}

{% endspaceless %}{% endmacro %}

{% macro panel(properties) %}{% spaceless %}
    {% import _self as macros %}

    {% if properties.color is not defined %}
        {% set properties = properties | merge({'color' : 'default'}) %}
    {% endif %}

    <div class="card {{ 'panel-' ~ properties.color }}">

        {{ macros.panelHeader(properties) }}

        <div class="
        card-body {% if properties.tableFields is not defined %}card-padding{% endif %}">

            {% if properties.legend is defined %}
                {{ properties.legend | raw }}
            {% endif %}

            {% if properties.formFields is defined %}
                {{ macros.formFields(properties.form, properties.formFields) }}
            {% endif %}
            {% if properties.tableFields is defined %}
                {% if properties.sortable is defined %}
                    <div class="wh-sortable">
                        {{ macros.table(properties.tableFields, properties.entities, {'sortable': true}) }}
                    </div>
                {% else %}
                    {{ macros.table(properties.tableFields, properties.entities, {}) }}
                {% endif %}
            {% endif %}

            {% if properties.footerListButtons is defined %}
                <div>
                    {{ macros.listButtons(properties.footerListButtons) }}
                </div>
            {% endif %}

            {% if properties.footerListFormButtons is defined %}
                <div>
                    {{ macros.listFormButtons(properties.footerListFormButtons, properties.form) }}
                </div>
            {% endif %}

        </div>

    </div>

{% endspaceless %}{% endmacro %}

{% macro panelHeader(properties) %}{% spaceless %}
    {% import _self as macros %}

    <div class="card-header">

        <table>
            <tr>
                <td>
                    <h2>
                        {% if properties.icon is defined %}<i class="{{ 'fa fa-' ~ properties.icon }}"></i> {% endif %}
                        {{ properties.headerLabel }}
                    </h2>
                </td>
                {% if properties.headerListButtons is defined %}
                    <td class="right">
                        <div class="actions">
                            {{ macros.listButtons(properties.headerListButtons) }}
                        </div>
                    </td>
                {% endif %}
            </tr>
        </table>

    </div>

{% endspaceless %}{% endmacro %}

{% macro getValueOfEntity(entity, wantedValueSlug, type, options) %}{% spaceless %}

    {% set fields = wantedValueSlug | split('.') %}
    {% set value = '' %}

    {% for field in fields %}

        {% if loop.first %}
            {% set value = attribute(entity, field) %}
        {% else %}
            {% if value %}
                {% set value = attribute(value, field) %}
            {% endif %}
        {% endif %}

    {% endfor %}

    {% if type == 'date' %}
        {{ value.timestamp | date(options.dateFormat) }}
    {% elseif type == 'price' %}
        {{ value | localizedcurrency(options.currency) }}
    {% else %}
        {{ value }}
    {% endif %}

{% endspaceless %}{% endmacro %}

{% macro table(fields, entities, properties) %}{% spaceless %}
    {% import _self as macros %}

    <table class="wh-table table table-striped">

        <thead>
        <tr>
            {% for name in fields %}
                <th>{% if name.label is defined %}{{ name.label }}{% endif %}</th>
            {% endfor %}
        </tr>
        </thead>

        {% for entity in entities %}

            {% set trClass = '' %}

            {% if attribute(entity, 'trClass') is defined %}
                {% set trClass = attribute(entity, 'trClass') %}
            {% elseif attribute(entity, 'status') is defined %}
                {% if attribute(entity, 'status') == 0 %}
                    {% set trClass = 'danger' %}
                {% else %}
                    {% set trClass = 'success' %}
                {% endif %}
            {% endif %}

            <tr class="{{ trClass }}" {% if properties.sortable is defined %}data-id="{{ entity.id }}"{% endif %}>
                {% for property, value in fields %}

                    {% if value.multipleFields is defined %}

                        {% set entityButtons = [] %}

                        {% for key, entityButton in value %}

                            {% if key != 'multipleFields' %}

                                {% set entityButton = entityButton | merge({'buttonType' : 'link'}) %}
                                {% set entityButton = entityButton | merge({'size' : 'xs'}) %}

                                {% if entityButton.parameters is defined %}

                                    {% set entityRouteParams = [] %}

                                    {% for routeParamName, routeParam in entityButton.parameters %}

                                        {% set routeParamFields = routeParam | split('.') %}
                                        {% set routeParamValue = '' %}

                                        {% for routeParamField in routeParamFields %}

                                            {% if loop.first %}
                                                {% set routeParamValue = attribute(entity, routeParamField) %}
                                            {% else %}
                                                {% set routeParamValue = attribute(routeParamValue, routeParamField) %}
                                            {% endif %}

                                        {% endfor %}

                                        {% set entityRouteParam = routeParamValue %}

                                        {% set entityRouteParams = entityRouteParams | merge({(routeParamName) : entityRouteParam}) %}

                                    {% endfor %}

                                    {% set entityButton = entityButton | merge({'href' : path(entityButton.route, entityRouteParams)}) %}

                                {% endif %}

                                {% set entityButtons = entityButtons | merge([entityButton]) %}

                            {% endif %}

                        {% endfor %}

                        <td>{{ macros.listButtons(entityButtons) }}</td>

                    {% else %}

                        {% if value.type is defined and value.type == 'link' %}
                            {% set entityValue = macros.getValueOfEntity(entity, property) %}
                            {% if not (entityValue matches '#http://.*#') %}
                                {% set entityValue = path('ft_wh_seo_router_dispatch', {'url' : entityValue}) %}
                            {% endif %}
                            <td>
                                <a href="{{ entityValue }}" target="_blank">
                                    {{ macros.getValueOfEntity(entity, property) }}
                                </a>
                            </td>
                        {% elseif value.type is defined and value.type == 'date' %}
                            <td>{{ macros.getValueOfEntity(entity, property, 'date', {'dateFormat': value.dateFormat}) }}</td>
                        {% elseif value.type is defined and value.type == 'price' %}
                            <td>{{ macros.getValueOfEntity(entity, property, 'price', {'currency': value.currency}) }}</td>
                        {% elseif value.type is defined and value.type == 'boolean' %}
                            <td>{% if macros.getValueOfEntity(entity, property) %}Oui{% else %}Non{% endif %}</td>
                        {% else %}
                            <td>{{ macros.getValueOfEntity(entity, property) | nl2br | raw }}</td>
                        {% endif %}

                    {% endif %}

                {% endfor %}
            </tr>
        {% endfor %}

    </table>

{% endspaceless %}{% endmacro %}
